@model List<Cadastroweb.Models.TrabalhoModel>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Trabalhos</h5>
                </div>
                <div class="ibox-content">

                    <table class="table">
                        <tr>
                            <td> ID</td>
                            <td>Atividade </td>
                            <td>Descricao</td>
                            <td>menu editar</td>
                            <td>menu apagar</td>
                        </tr>
                        @foreach (var item in Model)

                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.atividade</td>
                                <td>@item.descricao</td>
                                <td>@Html.ActionLink("Editar", "EditarTrabalho", "Trabalho", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" })</td>
                                <td>@Html.ActionLink("Deletar", "DeletarTrabalho", "Trabalho", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@{
    ViewBag.Title = "Trabalho";
}

<h2>Trabalho</h2>
